.react-flow__node {
    padding: 10px;
    border-radius: 3px;
    width: 100px;
    font-size: 12px;
    background: #fff;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

.react-flow__node:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.react-flow__node.selected,
.react-flow__node.selected:hover {
    --box-shadow-color: #222;
    box-shadow: 0 0 0 0.65px var(--box-shadow-color);
}

.react-flow__handle {
    border-width: 1px;
    border-style: solid;
}

.react-flow__node-InputNode,
.react-flow__node-InputNode.selected,
.react-flow__node-InputNode.selected:hover {
    border-color: #0041d0;
    --box-shadow-color: #0041d0;
}

.react-flow__node-InputNode .react-flow__handle {
    background: #0041d0;
}

.react-flow__node-OutputNode,
.react-flow__node-OutputNode.selected,
.react-flow__node-OutputNode.selected:hover {
    border-color: #30a120;
    --box-shadow-color: #30a120;
}

.react-flow__node-OutputNode .react-flow__handle {
    background: #30a120;
}
