body {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PlainText {
    white-space: pre-line;
}

.Banner.tooltip {
    z-index: 12;
    position: absolute;
    margin-top: 10px;
    visibility: hidden;
    font-size: 14px;
    background: #0008;
}

.Banner:hover > .tooltip {
    visibility: visible;
}
